In [23]:
import json
import requests
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
import shutil
import matplotlib.pyplot as plt
import time
import numpy as np
from api import google

In [24]:
!mkdir shapefile
df = pd.read_csv('location.csv')
df.dropna(inplace=True, how='all')
amount = len(df)

mkdir: cannot create directory ‘shapefile’: File exists

In [25]:
# add four points in the north, east, south and west direction 500m away from original one
for i in range(amount):
    j = 1
    while j <= 4:
        df.loc[i+(amount*j)] = df.loc[i]
        j += 1
df = df.sort_values(by=['Name'])
df = df.reset_index()
del df['index']

for i in range(amount):
    i = i*5
    df.loc[i, 'Lat'] = df.loc[i+4].Lat + (0.5/111*np.cos(df.loc[i+4, 'Lat']))
    df.loc[i+1, 'Lon'] = df.loc[i+4].Lon + (0.5/111)
    df.loc[i+2, 'Lat'] = df.loc[i+4].Lat - (0.5/111*np.cos(df.loc[i+4, 'Lat']))
    df.loc[i+3, 'Lon'] = df.loc[i+4].Lon - (0.5/111)

In [26]:
df

             Name        Lat         Lon
0          Boston  42.347501  -71.045869
1          Boston  42.347787  -71.041364
2          Boston  42.348074  -71.045869
3          Boston  42.347787  -71.050373
4          Boston  42.347787  -71.045869
5       Cambridge  42.365427  -71.103839
6       Cambridge  42.365634  -71.099334
7       Cambridge  42.365841  -71.103839
8       Cambridge  42.365634  -71.108344
9       Cambridge  42.365634  -71.103839
10         London  51.532447   -0.124062
11         London  51.531094   -0.119557
12         London  51.529741   -0.124062
13         London  51.531094   -0.128567
14         London  51.531094   -0.124062
15      Manhattan  40.721255  -73.997714
16      Manhattan  40.725730  -73.993209
17      Manhattan  40.730205  -73.997714
18      Manhattan  40.725730  -74.002219
19      Manhattan  40.725730  -73.997714
20  San_Francisco  37.791860 -122.405453
21  San_Francisco  37.787373 -122.400948
22  San_Francisco  37.782886 -122.405453
23  San_Francisco  37.787373 -122.409958
24  San_Francisco  37.787373 -122.405453
25        Seattle  47.621325 -122.336902
26        Seattle  47.625275 -122.332397
27        Seattle  47.629225 -122.336902
28        Seattle  47.625275 -122.341407
29        Seattle  47.625275 -122.336902
30  Silcon_Valley  37.391762 -122.057543
31  Silcon_Valley  37.387474 -122.053039
32  Silcon_Valley  37.383186 -122.057543
33  Silcon_Valley  37.387474 -122.062048
34  Silcon_Valley  37.387474 -122.057543

In [27]:

key = google
category = ['art_gallery',
            'amusement_park',
            'bakery', 
            'bar', 
            'book_store', 
            'cafe', 
            'gym', 
            'library', 
            'movie_theater', 
            'museum', 
            'night_club', 
            'park', 
            'restaurant', 
            'school', 
            'shopping_mall', 
            'spa', 
            'stadium']  
# category = ['art_gallery']

In [33]:
df['Name'].unique()

array(['Boston', 'Cambridge', 'London', 'Manhattan', 'San_Francisco',
       'Seattle', 'Silcon_Valley'], dtype=object)

In [34]:
lat = list(df['Lat'])
lng = list(df['Lon'])
city = list(df['Name'])

all_info = pd.DataFrame(columns=df['Name'].unique())
all_info['type'] = category
    
for x,i in enumerate(category):
    for j in range(len(lat)):
        
        if j > 0:
        
            if city[j] == city[j-1]: 
                pass
            else: 
                lat_info = []
                lng_info = []
        else:
            lat_info = []
            lng_info = []

        url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location='+str(lat[j])+','+str(lng[j])+'&radius=500&type='+str(i)+'&key='+key
        data = requests.get(url)
        text = json.loads(data.text)

        for k in range(len(text['results'])):

            lat_info.append(text['results'][k]['geometry']['location']['lat'])

            lng_info.append(text['results'][k]['geometry']['location']['lng'])
        
        time.sleep(5) 
        
        if 'next_page_token' not in text:
            print('only 1 page')

        else:
            url2 = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?pagetoken='+text['next_page_token']+'&key='+key
            data2 = requests.get(url2)
            text2 = json.loads(data2.text)
            for k in range(len(text2['results'])):
                lat_info.append(text2['results'][k]['geometry']['location']['lat'])
                lng_info.append(text2['results'][k]['geometry']['location']['lng'])
            
            time.sleep(5)

            if 'next_page_token' not in text2:
                print('only 2 page')
            else:

                next_page_token2 = text2['next_page_token']
                url3 = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?pagetoken='+text2['next_page_token']+'&key='+key
                data3 = requests.get(url3)
                text3 = json.loads(data3.text)
                for k in range(len(text3['results'])):
                    lat_info.append(text3['results'][k]['geometry']['location']['lat'])
                    lng_info.append(text3['results'][k]['geometry']['location']['lng'])

        info = pd.DataFrame()
        info['lat'] = lat_info
        info['lng'] = lng_info
        info.drop_duplicates(inplace=True)
        geometry = [Point(xy) for xy in zip(info.lng, info.lat)]
        crs = {'init': 'epsg:4326'}
        info_geo = gpd.GeoDataFrame(info, crs=crs, geometry=geometry)
        locals()[str(city[j])+'_'+str(i)] = info_geo
        if len(info_geo) > 0:
            info_geo.to_file('shapefile/%s_%s.shp'%(city[j], i), driver='ESRI Shapefile')
        all_info['%s'%city[j]][x] = len(info_geo)
        print(str(city[j]), j, str(i), 'done')

only 1 page
Boston 0 art_gallery done

/nfshome/mh5172/.conda/envs/mingyipy36/lib/python3.6/site-packages/geopandas/io/file.py:108: FionaDeprecationWarning: Use fiona.Env() instead.
  with fiona.drivers():

only 1 page
Boston 1 art_gallery done
only 1 page
Boston 2 art_gallery done
only 1 page
Boston 3 art_gallery done
only 1 page
Boston 4 art_gallery done
only 1 page
Cambridge 5 art_gallery done
only 1 page
Cambridge 6 art_gallery done
only 1 page
Cambridge 7 art_gallery done
only 1 page
Cambridge 8 art_gallery done
only 1 page
Cambridge 9 art_gallery done
only 1 page
London 10 art_gallery done
only 1 page
London 11 art_gallery done
only 1 page
London 12 art_gallery done
only 1 page
London 13 art_gallery done
only 1 page
London 14 art_gallery done
Manhattan 15 art_gallery done
Manhattan 16 art_gallery done
Manhattan 17 art_gallery done
Manhattan 18 art_gallery done
Manhattan 19 art_gallery done
San_Francisco 20 art_gallery done
San_Francisco 21 art_gallery done
only 1 page
San_Francisco 22 art_gallery done
San_Francisco 23 art_gallery done
San_Francisco 24 art_gallery done
only 1 page
Seattle 25 art_gallery done
only 1 page
Seattle 26 art_gallery done
only 1 page
Seattle 27 art_gallery done
only 1 page
Seattle 28 art_gallery done
only 1 page
Seattle 29 art_gallery done
only 1 page
Silcon_Valley 30 art_gallery done
only 1 page
Silcon_Valley 31 art_gallery done
only 1 page
Silcon_Valley 32 art_gallery done
only 1 page
Silcon_Valley 33 art_gallery done
only 1 page
Silcon_Valley 34 art_gallery done
only 1 page
Boston 0 amusement_park done
only 1 page
Boston 1 amusement_park done
only 1 page
Boston 2 amusement_park done
only 1 page
Boston 3 amusement_park done
only 1 page
Boston 4 amusement_park done
only 1 page
Cambridge 5 amusement_park done
only 1 page
Cambridge 6 amusement_park done
only 1 page
Cambridge 7 amusement_park done
only 1 page
Cambridge 8 amusement_park done
only 1 page
Cambridge 9 amusement_park done
only 1 page
London 10 amusement_park done
only 1 page
London 11 amusement_park done
only 1 page
London 12 amusement_park done
only 1 page
London 13 amusement_park done
only 1 page
London 14 amusement_park done
only 1 page
Manhattan 15 amusement_park done
only 1 page
Manhattan 16 amusement_park done
only 1 page
Manhattan 17 amusement_park done
only 1 page
Manhattan 18 amusement_park done
only 1 page
Manhattan 19 amusement_park done
only 1 page
San_Francisco 20 amusement_park done
only 1 page
San_Francisco 21 amusement_park done
only 1 page
San_Francisco 22 amusement_park done
only 1 page
San_Francisco 23 amusement_park done
only 1 page
San_Francisco 24 amusement_park done
only 1 page
Seattle 25 amusement_park done
only 1 page
Seattle 26 amusement_park done
only 1 page
Seattle 27 amusement_park done
only 1 page
Seattle 28 amusement_park done
only 1 page
Seattle 29 amusement_park done
only 1 page
Silcon_Valley 30 amusement_park done
only 1 page
Silcon_Valley 31 amusement_park done
only 1 page
Silcon_Valley 32 amusement_park done
only 1 page
Silcon_Valley 33 amusement_park done
only 1 page
Silcon_Valley 34 amusement_park done
only 1 page
Boston 0 bakery done
only 1 page
Boston 1 bakery done
only 1 page
Boston 2 bakery done
only 1 page
Boston 3 bakery done
only 1 page
Boston 4 bakery done
only 1 page
Cambridge 5 bakery done
only 1 page
Cambridge 6 bakery done
only 1 page
Cambridge 7 bakery done
only 1 page
Cambridge 8 bakery done
only 1 page
Cambridge 9 bakery done
only 1 page
London 10 bakery done
only 1 page
London 11 bakery done
only 1 page
London 12 bakery done
only 1 page
London 13 bakery done
only 1 page
London 14 bakery done
Manhattan 15 bakery done
only 1 page
Manhattan 16 bakery done
only 2 page
Manhattan 17 bakery done
only 2 page
Manhattan 18 bakery done
only 2 page
Manhattan 19 bakery done
only 2 page
San_Francisco 20 bakery done
only 2 page
San_Francisco 21 bakery done
only 1 page
San_Francisco 22 bakery done
only 1 page
San_Francisco 23 bakery done
only 2 page
San_Francisco 24 bakery done
only 1 page
Seattle 25 bakery done
only 1 page
Seattle 26 bakery done
only 1 page
Seattle 27 bakery done
only 1 page
Seattle 28 bakery done
only 1 page
Seattle 29 bakery done
only 1 page
Silcon_Valley 30 bakery done
only 1 page
Silcon_Valley 31 bakery done
only 1 page
Silcon_Valley 32 bakery done
only 1 page
Silcon_Valley 33 bakery done
only 1 page
Silcon_Valley 34 bakery done
only 1 page
Boston 0 bar done
only 1 page
Boston 1 bar done
only 1 page
Boston 2 bar done
only 1 page
Boston 3 bar done
only 1 page
Boston 4 bar done
only 1 page
Cambridge 5 bar done
only 1 page
Cambridge 6 bar done
only 1 page
Cambridge 7 bar done
only 1 page
Cambridge 8 bar done
only 1 page
Cambridge 9 bar done
London 10 bar done
London 11 bar done
London 12 bar done
London 13 bar done
London 14 bar done
Manhattan 15 bar done
Manhattan 16 bar done
Manhattan 17 bar done
Manhattan 18 bar done
Manhattan 19 bar done
San_Francisco 20 bar done
San_Francisco 21 bar done
San_Francisco 22 bar done
San_Francisco 23 bar done
San_Francisco 24 bar done
only 2 page
Seattle 25 bar done
only 1 page
Seattle 26 bar done
only 1 page
Seattle 27 bar done
only 1 page
Seattle 28 bar done
only 1 page
Seattle 29 bar done
only 1 page
Silcon_Valley 30 bar done
only 1 page
Silcon_Valley 31 bar done
only 1 page
Silcon_Valley 32 bar done
only 1 page
Silcon_Valley 33 bar done
only 1 page
Silcon_Valley 34 bar done
only 1 page
Boston 0 book_store done
only 1 page
Boston 1 book_store done
only 1 page
Boston 2 book_store done
only 1 page
Boston 3 book_store done
only 1 page
Boston 4 book_store done
only 1 page
Cambridge 5 book_store done
only 1 page
Cambridge 6 book_store done
only 1 page
Cambridge 7 book_store done
only 1 page
Cambridge 8 book_store done
only 1 page
Cambridge 9 book_store done
only 1 page
London 10 book_store done
only 1 page
London 11 book_store done
only 1 page
London 12 book_store done
only 1 page
London 13 book_store done
only 1 page
London 14 book_store done
only 1 page
Manhattan 15 book_store done
only 1 page
Manhattan 16 book_store done
only 1 page
Manhattan 17 book_store done
only 1 page
Manhattan 18 book_store done
only 1 page
Manhattan 19 book_store done
only 1 page
San_Francisco 20 book_store done
only 1 page
San_Francisco 21 book_store done
only 1 page
San_Francisco 22 book_store done
only 1 page
San_Francisco 23 book_store done
only 1 page
San_Francisco 24 book_store done
only 1 page
Seattle 25 book_store done
only 1 page
Seattle 26 book_store done
only 1 page
Seattle 27 book_store done
only 1 page
Seattle 28 book_store done
only 1 page
Seattle 29 book_store done
only 1 page
Silcon_Valley 30 book_store done
only 1 page
Silcon_Valley 31 book_store done
only 1 page
Silcon_Valley 32 book_store done
only 1 page
Silcon_Valley 33 book_store done
only 1 page
Silcon_Valley 34 book_store done
only 1 page
Boston 0 cafe done
only 1 page
Boston 1 cafe done
only 1 page
Boston 2 cafe done
only 1 page
Boston 3 cafe done
only 1 page
Boston 4 cafe done
only 1 page
Cambridge 5 cafe done
only 1 page
Cambridge 6 cafe done
only 1 page
Cambridge 7 cafe done
only 1 page
Cambridge 8 cafe done
only 1 page
Cambridge 9 cafe done
London 10 cafe done
London 11 cafe done
London 12 cafe done
London 13 cafe done
London 14 cafe done
Manhattan 15 cafe done
Manhattan 16 cafe done
Manhattan 17 cafe done
Manhattan 18 cafe done
Manhattan 19 cafe done
San_Francisco 20 cafe done
San_Francisco 21 cafe done
San_Francisco 22 cafe done
San_Francisco 23 cafe done
San_Francisco 24 cafe done
Seattle 25 cafe done
only 1 page
Seattle 26 cafe done
only 1 page
Seattle 27 cafe done
only 2 page
Seattle 28 cafe done
only 2 page
Seattle 29 cafe done
only 1 page
Silcon_Valley 30 cafe done
only 1 page
Silcon_Valley 31 cafe done
only 1 page
Silcon_Valley 32 cafe done
only 1 page
Silcon_Valley 33 cafe done
only 1 page
Silcon_Valley 34 cafe done
only 1 page
Boston 0 gym done
only 1 page
Boston 1 gym done
only 1 page
Boston 2 gym done
only 1 page
Boston 3 gym done
only 1 page
Boston 4 gym done
only 1 page
Cambridge 5 gym done
only 1 page
Cambridge 6 gym done
only 1 page
Cambridge 7 gym done
only 1 page
Cambridge 8 gym done
only 1 page
Cambridge 9 gym done
only 1 page
London 10 gym done
only 1 page
London 11 gym done
only 2 page
London 12 gym done
only 1 page
London 13 gym done
only 1 page
London 14 gym done
Manhattan 15 gym done
Manhattan 16 gym done
only 2 page
Manhattan 17 gym done
Manhattan 18 gym done
Manhattan 19 gym done
San_Francisco 20 gym done

only 2 page
San_Francisco 21 gym done
only 1 page
San_Francisco 22 gym done
only 1 page
San_Francisco 23 gym done
only 2 page
San_Francisco 24 gym done
only 1 page
Seattle 25 gym done
only 1 page
Seattle 26 gym done
only 1 page
Seattle 27 gym done
only 1 page
Seattle 28 gym done
only 1 page
Seattle 29 gym done
only 1 page
Silcon_Valley 30 gym done
only 1 page
Silcon_Valley 31 gym done
only 1 page
Silcon_Valley 32 gym done
only 1 page
Silcon_Valley 33 gym done
only 1 page
Silcon_Valley 34 gym done
only 1 page
Boston 0 library done
only 1 page
Boston 1 library done
only 1 page
Boston 2 library done
only 1 page
Boston 3 library done
only 1 page
Boston 4 library done
only 1 page
Cambridge 5 library done
only 1 page
Cambridge 6 library done
only 1 page
Cambridge 7 library done
only 1 page
Cambridge 8 library done
only 1 page
Cambridge 9 library done
only 1 page
London 10 library done
only 1 page
London 11 library done
only 1 page
London 12 library done
only 1 page
London 13 library done
only 1 page
London 14 library done
only 1 page
Manhattan 15 library done
only 1 page
Manhattan 16 library done
only 1 page
Manhattan 17 library done
only 1 page
Manhattan 18 library done
only 1 page
Manhattan 19 library done
only 1 page
San_Francisco 20 library done
only 1 page
San_Francisco 21 library done
only 1 page
San_Francisco 22 library done
only 1 page
San_Francisco 23 library done
only 1 page
San_Francisco 24 library done
only 1 page
Seattle 25 library done
only 1 page
Seattle 26 library done
only 1 page
Seattle 27 library done
only 1 page
Seattle 28 library done
only 1 page
Seattle 29 library done
only 1 page
Silcon_Valley 30 library done
only 1 page
Silcon_Valley 31 library done
only 1 page
Silcon_Valley 32 library done
only 1 page
Silcon_Valley 33 library done
only 1 page
Silcon_Valley 34 library done
only 1 page
Boston 0 movie_theater done
only 1 page
Boston 1 movie_theater done
only 1 page
Boston 2 movie_theater done
only 1 page
Boston 3 movie_theater done
only 1 page
Boston 4 movie_theater done
only 1 page
Cambridge 5 movie_theater done
only 1 page
Cambridge 6 movie_theater done
only 1 page
Cambridge 7 movie_theater done
only 1 page
Cambridge 8 movie_theater done
only 1 page
Cambridge 9 movie_theater done
only 1 page
London 10 movie_theater done
only 1 page
London 11 movie_theater done
only 1 page
London 12 movie_theater done
only 1 page
London 13 movie_theater done
only 1 page
London 14 movie_theater done
only 1 page
Manhattan 15 movie_theater done
only 1 page
Manhattan 16 movie_theater done
only 1 page
Manhattan 17 movie_theater done
only 1 page
Manhattan 18 movie_theater done
only 1 page
Manhattan 19 movie_theater done
only 1 page
San_Francisco 20 movie_theater done
only 1 page
San_Francisco 21 movie_theater done
only 1 page
San_Francisco 22 movie_theater done
only 1 page
San_Francisco 23 movie_theater done
only 1 page
San_Francisco 24 movie_theater done
only 1 page
Seattle 25 movie_theater done
only 1 page
Seattle 26 movie_theater done
only 1 page
Seattle 27 movie_theater done
only 1 page
Seattle 28 movie_theater done
only 1 page
Seattle 29 movie_theater done
only 1 page
Silcon_Valley 30 movie_theater done
only 1 page
Silcon_Valley 31 movie_theater done
only 1 page
Silcon_Valley 32 movie_theater done
only 1 page
Silcon_Valley 33 movie_theater done
only 1 page
Silcon_Valley 34 movie_theater done
only 1 page
Boston 0 museum done
only 1 page
Boston 1 museum done
only 1 page
Boston 2 museum done
only 1 page
Boston 3 museum done
only 1 page
Boston 4 museum done
only 1 page
Cambridge 5 museum done
only 1 page
Cambridge 6 museum done
only 1 page
Cambridge 7 museum done
only 1 page
Cambridge 8 museum done
only 1 page
Cambridge 9 museum done
only 1 page
London 10 museum done
only 1 page
London 11 museum done
only 1 page
London 12 museum done
only 1 page
London 13 museum done
only 1 page
London 14 museum done
only 2 page
Manhattan 15 museum done
only 2 page
Manhattan 16 museum done
only 1 page
Manhattan 17 museum done
only 2 page
Manhattan 18 museum done
only 1 page
Manhattan 19 museum done
only 1 page
San_Francisco 20 museum done
only 1 page
San_Francisco 21 museum done
only 1 page
San_Francisco 22 museum done
only 1 page
San_Francisco 23 museum done
only 1 page
San_Francisco 24 museum done
only 1 page
Seattle 25 museum done
only 1 page
Seattle 26 museum done
only 1 page
Seattle 27 museum done
only 1 page
Seattle 28 museum done
only 1 page
Seattle 29 museum done
only 1 page
Silcon_Valley 30 museum done
only 1 page
Silcon_Valley 31 museum done
only 1 page
Silcon_Valley 32 museum done
only 1 page
Silcon_Valley 33 museum done
only 1 page
Silcon_Valley 34 museum done
only 1 page
Boston 0 night_club done
only 1 page
Boston 1 night_club done
only 1 page
Boston 2 night_club done
only 1 page
Boston 3 night_club done
only 1 page
Boston 4 night_club done
only 1 page
Cambridge 5 night_club done
only 1 page
Cambridge 6 night_club done
only 1 page
Cambridge 7 night_club done
only 1 page
Cambridge 8 night_club done
only 1 page
Cambridge 9 night_club done
only 1 page
London 10 night_club done
only 1 page
London 11 night_club done
only 1 page
London 12 night_club done
only 1 page
London 13 night_club done
only 1 page
London 14 night_club done
only 1 page
Manhattan 15 night_club done
only 2 page
Manhattan 16 night_club done
only 2 page
Manhattan 17 night_club done
only 1 page
Manhattan 18 night_club done
only 1 page
Manhattan 19 night_club done
only 1 page
San_Francisco 20 night_club done
only 1 page
San_Francisco 21 night_club done
only 2 page
San_Francisco 22 night_club done
only 2 page
San_Francisco 23 night_club done
only 2 page
San_Francisco 24 night_club done
only 1 page
Seattle 25 night_club done
only 1 page
Seattle 26 night_club done
only 1 page
Seattle 27 night_club done
only 1 page
Seattle 28 night_club done
only 1 page
Seattle 29 night_club done
only 1 page
Silcon_Valley 30 night_club done
only 1 page
Silcon_Valley 31 night_club done
only 1 page
Silcon_Valley 32 night_club done
only 1 page
Silcon_Valley 33 night_club done
only 1 page
Silcon_Valley 34 night_club done
only 1 page
Boston 0 park done
only 1 page
Boston 1 park done
only 1 page
Boston 2 park done
only 1 page
Boston 3 park done
only 1 page
Boston 4 park done
only 1 page
Cambridge 5 park done
only 1 page
Cambridge 6 park done
only 1 page
Cambridge 7 park done
only 1 page
Cambridge 8 park done
only 1 page
Cambridge 9 park done
only 1 page
London 10 park done
only 1 page
London 11 park done
only 1 page
London 12 park done
only 1 page
London 13 park done
only 1 page
London 14 park done
only 1 page
Seattle 25 park done
only 1 page
Seattle 26 park done
only 1 page
Seattle 27 park done
only 1 page
Seattle 28 park done
only 1 page
Seattle 29 park done
only 1 page
Silcon_Valley 30 park done
only 1 page
Silcon_Valley 31 park done
only 1 page
Silcon_Valley 32 park done
only 1 page
Silcon_Valley 33 park done
only 1 page
Silcon_Valley 34 park done
Boston 0 restaurant done
only 2 page
Boston 1 restaurant done
Boston 2 restaurant done
only 2 page
Boston 3 restaurant done
Boston 4 restaurant done
Cambridge 5 restaurant done
Cambridge 6 restaurant done
Cambridge 7 restaurant done
Cambridge 8 restaurant done
Cambridge 9 restaurant done
London 10 restaurant done
London 11 restaurant done
London 12 restaurant done
London 13 restaurant done
London 14 restaurant done
Manhattan 15 restaurant done
Manhattan 16 restaurant done
Manhattan 17 restaurant done
Manhattan 18 restaurant done
Manhattan 19 restaurant done
San_Francisco 20 restaurant done
San_Francisco 21 restaurant done
San_Francisco 22 restaurant done
San_Francisco 23 restaurant done
San_Francisco 24 restaurant done
Seattle 25 restaurant done
Seattle 26 restaurant done
only 1 page
Seattle 27 restaurant done
only 2 page
Seattle 28 restaurant done
Seattle 29 restaurant done
only 1 page
Silcon_Valley 30 restaurant done
only 1 page
Silcon_Valley 31 restaurant done
only 1 page
Silcon_Valley 32 restaurant done
only 1 page
Silcon_Valley 33 restaurant done
only 1 page
Silcon_Valley 34 restaurant done
only 1 page
Boston 0 school done
only 1 page
Boston 1 school done
only 1 page
Boston 2 school done
only 1 page
Boston 3 school done
only 1 page
Boston 4 school done
only 2 page
Cambridge 5 school done

only 2 page
Cambridge 6 school done
only 2 page
Cambridge 7 school done
only 2 page
Cambridge 8 school done
only 2 page
Cambridge 9 school done
only 1 page
London 10 school done
only 1 page
London 11 school done
only 1 page
London 12 school done
only 2 page
London 13 school done
only 1 page
London 14 school done
Manhattan 15 school done
Manhattan 16 school done
Manhattan 17 school done
Manhattan 18 school done
Manhattan 19 school done
San_Francisco 20 school done
only 2 page
San_Francisco 21 school done
only 2 page
San_Francisco 22 school done
only 2 page
San_Francisco 23 school done
San_Francisco 24 school done
only 1 page
Seattle 25 school done
only 1 page
Seattle 26 school done
only 1 page
Seattle 27 school done
only 1 page
Seattle 28 school done
only 1 page
Seattle 29 school done
only 1 page
Silcon_Valley 30 school done
only 1 page
Silcon_Valley 31 school done
only 1 page
Silcon_Valley 32 school done
only 1 page
Silcon_Valley 33 school done
only 1 page
Silcon_Valley 34 school done
only 1 page
Boston 0 shopping_mall done
only 1 page
Boston 1 shopping_mall done
only 1 page
Boston 2 shopping_mall done
only 1 page
Boston 3 shopping_mall done
only 1 page
Boston 4 shopping_mall done
only 1 page
Cambridge 5 shopping_mall done
only 1 page
Cambridge 6 shopping_mall done
only 1 page
Cambridge 7 shopping_mall done
only 1 page
Cambridge 8 shopping_mall done
only 1 page
Cambridge 9 shopping_mall done
only 1 page
London 10 shopping_mall done
only 1 page
London 11 shopping_mall done
only 1 page
London 12 shopping_mall done
only 1 page
London 13 shopping_mall done
only 1 page
London 14 shopping_mall done
only 2 page
Manhattan 15 shopping_mall done
only 1 page
Manhattan 16 shopping_mall done
only 1 page
Manhattan 17 shopping_mall done
only 1 page
Manhattan 18 shopping_mall done
only 1 page
Manhattan 19 shopping_mall done
only 1 page
San_Francisco 20 shopping_mall done
only 1 page
San_Francisco 21 shopping_mall done
only 1 page
San_Francisco 22 shopping_mall done
only 1 page
San_Francisco 23 shopping_mall done
only 2 page
San_Francisco 24 shopping_mall done
only 1 page
Seattle 25 shopping_mall done
only 1 page
Seattle 26 shopping_mall done
only 1 page
Seattle 27 shopping_mall done
only 1 page
Seattle 28 shopping_mall done
only 1 page
Seattle 29 shopping_mall done
only 1 page
Silcon_Valley 30 shopping_mall done
only 1 page
Silcon_Valley 31 shopping_mall done
only 1 page
Silcon_Valley 32 shopping_mall done
only 1 page
Silcon_Valley 33 shopping_mall done
only 1 page
Silcon_Valley 34 shopping_mall done
only 1 page
Boston 0 spa done
only 1 page
Boston 1 spa done
only 1 page
Boston 2 spa done
only 1 page
Boston 3 spa done
only 1 page
Boston 4 spa done
only 1 page
Cambridge 5 spa done
only 1 page
Cambridge 6 spa done
only 1 page
Cambridge 7 spa done
only 1 page
Cambridge 8 spa done
only 1 page
Cambridge 9 spa done
only 1 page
London 10 spa done
only 1 page
London 11 spa done
only 1 page
London 12 spa done
only 1 page
London 13 spa done
only 1 page
London 14 spa done
Manhattan 15 spa done
only 2 page
Manhattan 16 spa done
only 2 page
Manhattan 17 spa done
only 2 page
Manhattan 18 spa done
only 2 page
Manhattan 19 spa done
San_Francisco 20 spa done
only 2 page
San_Francisco 21 spa done
only 1 page
San_Francisco 22 spa done
San_Francisco 23 spa done
San_Francisco 24 spa done
only 1 page
Seattle 25 spa done
only 1 page
Seattle 26 spa done
only 1 page
Seattle 27 spa done
only 1 page
Seattle 28 spa done
only 1 page
Seattle 29 spa done
only 1 page
Silcon_Valley 30 spa done
only 1 page
Silcon_Valley 31 spa done
only 1 page
Silcon_Valley 32 spa done
only 1 page
Silcon_Valley 33 spa done
only 1 page
Silcon_Valley 34 spa done
only 1 page
Boston 0 stadium done
only 1 page
Boston 1 stadium done
only 1 page
Boston 2 stadium done
only 1 page
Boston 3 stadium done
only 1 page
Boston 4 stadium done
only 1 page
Cambridge 5 stadium done
only 1 page
Cambridge 6 stadium done
only 1 page
Cambridge 7 stadium done
only 1 page
Cambridge 8 stadium done
only 1 page
Cambridge 9 stadium done
only 1 page
London 10 stadium done
only 1 page
London 11 stadium done
only 1 page
London 12 stadium done
only 1 page
London 13 stadium done
only 1 page
London 14 stadium done
only 1 page
Manhattan 15 stadium done
only 1 page
Manhattan 16 stadium done
only 1 page
Manhattan 17 stadium done
only 1 page
Manhattan 18 stadium done
only 1 page
Manhattan 19 stadium done
only 1 page
San_Francisco 20 stadium done
only 1 page
San_Francisco 21 stadium done
only 1 page
San_Francisco 22 stadium done
only 1 page
San_Francisco 23 stadium done
only 1 page
San_Francisco 24 stadium done
only 1 page
Seattle 25 stadium done
only 1 page
Seattle 26 stadium done
only 1 page
Seattle 27 stadium done
only 1 page
Seattle 28 stadium done
only 1 page
Seattle 29 stadium done
only 1 page
Silcon_Valley 30 stadium done
only 1 page
Silcon_Valley 31 stadium done
only 1 page
Silcon_Valley 32 stadium done
only 1 page
Silcon_Valley 33 stadium done
only 1 page
Silcon_Valley 34 stadium done

In [35]:
shutil.make_archive('shp_0108', 'zip', 'shapefile')
all_info.to_csv('count_0108.csv', sep=',')